nav{
    background-color: #EFEFEF;
}

#nav a{
    color:#333333;
    font-size: 14px;
}

a#imglogo{
    padding-left: 40px;
}

#corpo1{
    background-image: url(../imagens/capa.png);
    width: 100%;
    height: 600px;
    background-repeat: repeat-x;
}

div #seta{
    text-align: center;
    padding-top: 200px;
}

#corpo1 h1{
    text-align: right;
    padding-top: 200px;
}