div#porticapa{
    background-image: url(../imagens/porticapa.png);
  background-size: cover;

}

div#porticapa h1{
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

#navporti a{
    color:white;
    font-size: 17px;
    font-family: GOTHAM;
}

h1#web{
    margin-top: 100px;
    font: GOTHAM;
}

#linkescuro{
    color: #fe6500;
}

img#web{
    margin-bottom: 30px;
    margin-top: 30px;
}

div#SEO{
    background-color: rgba(230, 231, 231, 0.300);;
}